    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Về chúng tôi</h2>
              <br/>
                <p>SBC là công ty đi đầu và chuyên sâu trong lĩnh vực xây dựng các hệ thống điện toán đám mây. Bao gồm Private, Public Cloud, CDN Private, Simple Storage (S3 Like) và Live Streaming.</p>
                <br/>
              </div>
        </div>
    </section>
